.Game {
    height: 100%;
    width: 100%;
    overflow: auto;
    position: relative;

}

.imgWrapper {
    position: relative;
    padding: 8px;
    display: block;
    margin: 0 auto;
    width: fit-content;
}

.selection {
    position: absolute;
}