.Leaderboard {
    height: 100%;
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    opacity: 0;
}

.leaderboardModal {
    background-color: white;
    border: 2px solid black;
    width: min(calc(var(--doc-width) * .9), 400px);
    height: calc(var(--doc-height) * .7);
    padding: 16px;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: 3rem;
    grid-auto-rows: 3rem;
    overflow: auto;
}

.leaderboardModal > h2 {
    font-family: optima;
    font-weight: 100;
}